---
import { MainSlider } from '../components/Home/MainSlider';
import { SlotsSlider } from '../components/Home/SlotsSlider';
import { WidgetSlider } from '../components/Home/WidgetSlider';
import MainLayout from '../layouts/main.astro';
import { fetchMainSlides, fetchWidgetSlides } from '../resources/sliders';

const slides = await fetchMainSlides();
const widgetSlides = await fetchWidgetSlides();
---
<MainLayout>
	<div class="_s_size-w-percent--25 _s_container _s_color-bg-primary-0 _s_lg-color-bg-transparent ng-star-inserted">
		<MainSlider slides={slides} client:load />
		<WidgetSlider slides={widgetSlides} client:visible />
		<SlotsSlider client:visible />
	</div>
</MainLayout>