<div class="_s_size-h-percent--25 _s_position-relative _s_aitem-scroll-scrolled-none _s_pt-2 _s_pb-2 _s_mr-5 _s_flex">
  <span class="_s_cursor-pointer _s_bg-position-center _s_size-w-px--42 _s_size-h-px--12 _s_display-b _s_bg-no-repeat _s_bg-size-full _s_bg-position-left _s_bg-img-logo" />
</div>