<div
  style={{ height: "44px" }}
  class="banner _s_overflow-hidden _s_size-h-px--0 _s_flex _s_flex-j-center _s_flex-a-center _s_cursor-pointer _s_color-bg-primary-2 showUp"
>
  <div class="_s_flex">
    <div class="_s_icon _s_icon-sm _s_ml-none _s_adj-gift"></div>
    <div class="_s_label _s_m-none">უფასო 500-მდე ფრისპინი რეგისტრაციაზე</div>
  </div>
</div>
