---
import { DepositIcons } from './DepositIcons';
import Incentives from './Incentives.astro';
import InfoArea from './InfoArea.astro';
---

<div class="_s_z-2">
  <div class="_s_position-relative _s_z-3 _s_color-bg-primary-6">
    <DepositIcons client:visible />
    <Incentives />
    <InfoArea /> 
  </div>
</div>