---
const incentiveData = [
	{ url: 'https://www.iniciativa.ge/', img: 'images/footer/initiative_en.svg' },
	{ url: 'https://www.adjarabetawards.com/', img: 'images/footer/adjarabet_awards_en.svg' },
	{ url: 'http://martetamashi.ge/', img: 'images/footer/rule_your_games_en.svg' },
	{ url: 'https://www.adjarabetawards.com/', img: 'images/footer/moedani_en.svg' },
];
---

<div class="_s_bt-primary-7 _s_bt-solid _s_bw-1 _s_flex _s_flex-a-center _s_flex-j-center _s_p-5 _s_size-w-percent--25">
	{incentiveData.map(item => <div class="_s_pr-7">
		<a href={item.url}><img alt="name" loading="lazy" src={`https://newstatic.adjarabet.com/static/${item.img}`} /></a>
	</div>)}
</div>