---
import Header from "../components/Header/Header.astro";
import { Slider } from "../state/slider";
import Lang from "../state/lang";
import Footer from "../components/Footer/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<link rel="preload" href="/styles/styles.min.css" as="style" />
		<link rel="stylesheet" href="/styles/styles.min.css" />
		<link rel="preload" href="/styles/new-fonts.css" as="style" />
		<link rel="stylesheet" href="/styles/new-fonts.css" />
		<link rel="manifest" href="/manifest.json" />

		<meta
			name="description"
			content="adjarabet.com / აჭარაბეთი - ონლაინ კაზინო და ტოტალიზატორი ყველაზე დიდი მოგებებით და საუკეთესო თამაშებით: სლოტები, სპორტი ავიატორი, პოკერი, სამაგიდო თამაშები, ლაივ კაზინო, betfair exchange, კენო, ვირტუალური სპორტი,  ითამაშე შენს მოედანზე. "
		/>
		<meta name="author" content="Adjarabet" />
		<meta name="application-name" content="Adjarabet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>აჭარაბეთი | ონლაინ კაზინო და ტოტალიზატორი</title>
	</head>
	<body>
		<Lang client:load />
		<Slider client:load />
		<Header />
		<slot />
		<Footer />
	</body>
</html>
